*{
  background-color: #212121;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro{
  font-size: 80px;
  position: absolute;
  top: 25%;
  left: 15%;
  transition: transform 0.15s ease-in-out;
  animation-fill-mode: forwards;
  background-color: transparent;
}

.intro:hover{
    transform: scale(1.2);
}

@keyframes color-animation {
    0% {
      color: white;
      transform: scale(0.75, 1.25);
    }
    50% {
      color: #45F3FF;
      transform: scale(1.25, 0.75);
    }
    100% {
      color: white;
      transform: scale(1);
    }
    
  }


span {
  
  cursor: default;
  display: inline-block;
  transition: transform 0.15s ease-in-out;
  animation-fill-mode: forwards;
  background-color: transparent;
  margin-left: -5px;
  padding-left: 5px;
  /* animation: color-animation 0.5s forwards; */
}

/* span.hovered { */
.bounce, .devTitle{
    color: #45F3FF;
    transform: scale(1.2);
    transition-delay: 0s;
  }
  
  /* span:hover { */
.bounce:hover, .devTitle:hover{
    color: #45F3FF;
    transform: scale(1.2);
  }
  
span:not(:hover) {
    color: white;
    transform: scale(1);
  }
  
/* span:hover { */
.bounce:hover, .devTitle:hover{
    animation: color-animation 0.5s forwards !important;
  }  

  

.A{
    padding-left: 2px;
    font-size: 1.5em;
    color: white;
    text-shadow: #45F3FF -7px 0 0;
}

.A:hover{
    transform: scale(1.2);
}

.devTitle{
    position: relative;
    top: -30px;
    font-size: 30px;
}

.name{
    border-bottom: 1px solid #45F3FF;
    margin-bottom: -100px;
}

.scrollDown{
  rotate: 90deg;
  position: absolute;
  top: 90%;
}

.spacer{
  height: 90vh;
}


@keyframes scroll-move {
  0% {
    top: 90%;
  }
  50% {
    top: 87%;
  }
  100% {
    top: 90%;
  }
  
}

.scrollDown{
  animation: scroll-move 2s forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.movingScroll{
  font-size: 18px;
} 


h1{
    font-size: 50px;
    position: relative;
    left: 5%;
    width: 75%;
    cursor: default;
}

h1::first-letter{
  padding-left: 2px;
  font-size: 1.5em;
  color: white;
  text-shadow: #45F3FF -4px 0 0;
}

.aboutMe p{
  font-size: 20px;
  margin: 0 auto;
  width: 65%;
  /* border: 1px solid #45F3FF; */
  box-shadow: 0px 0px 20px #45F3FF;
  padding: 10px;
  height: 100%;
  margin-bottom: 10px;
  font-family: monospace;
  background-color: transparent;
  z-index: 2;
}


.toContact{
  font-family: monospace;
  font-size: 20px;
  color: #45F3FF;
  text-shadow: gray 2px 1px 1px;
  cursor: pointer;
}

.scrollDown2{
  rotate: 90deg;
  position: relative;
  left: -22%;
  top: 0%;
  margin-bottom: 50vh;
  text-align: right;
  width: 100vh;
  background-color: blue;
}


.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.card {
  width: calc(100vh / 3);
  height: calc((100vh / 3) * 1.25);
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
  
 }
 
 .card2 {
  position: relative;
  width: calc(100vh / 3);
  height: calc((100vh / 3) * 1.25);
  background-color: #333;
  border-radius: 10px;
  transition: all .2s;
  border: 1px solid white;
 }
 
 .card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
  border: none;
 }
 
 .card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  cursor: pointer;
 }


 .card2 .cardTitle{
  position: absolute;
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  height: 24px;
  background-color: transparent;
  transform: scale(1);
  transition: transform 0.3s ease;
 }


 .card2 img{
  width: 90%;
  background-color: transparent;
  position: absolute;
  top: 10%;
  left: 5%;
  transform: scale(1);
  transition: transform 0.3s ease;
  margin-top: 40px;
 }

 .card2 .cardTitle:hover, .card2 img:hover{
  cursor: pointer;
  transform: scale(1.2);
 }


.skillsList{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.skillTitle{
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.skill{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 10px;
}

.skillSpan{
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  padding-right: 2px;
}

.skillBar{
  width: 100%;
  height: 30px;
  background-color: #2B3945;
  margin-top: 5px;
}

.barPercent{
  height: 30px;
  background-color: #A1EAFB;
}
 .eighty{
  width: 80%;
 }

 .seventyFive{
  width: 75%;
 }

 .eightyFive{
  width: 85%;
 }

 .fifty{
  width: 50%;
 }

 .forty{
  width: 40%;
 }
