nav{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  /* box-shadow: white 1px 1px 1px;
   */
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7), 0 0 20px 0 rgba(255, 255, 255, 0.5), 0 0 30px 0 rgba(255, 255, 255, 0.1);
}

.title{
  width: 25vw;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
  text-align: center;
  font-weight: bold;
}

ul{
  font-weight: bold;
  list-style: none;
  font-size: 24px;
  width: 75vw;
  display: flex;
  justify-content: space-around;

}

li{
  transition: transform 0.15s ease-in-out;
}

li:hover{
  transform: scale(1.2);
}

a {
  text-decoration: none;
  font-size: 24px;
}

a:hover {
  border-radius: 5px;
}



